.win{
display: flex;
justify-content: center;
align-items: center;
background-color: antiquewhite;
}
.main{
    width:100;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite ;
    gap: 10px;

}
.box{
    width:450px;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
.manibox1{
   width:100%;
   height: 150    px;
   
}
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9{
    width:150px;
    height: 150px;
    border: 5px solid black;
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 100px;
   font-family: sans-serif;
   color: white;
    
}
.box1,.box7,.box9,.box3{
   
   border: none;
}
.box6{
   border-bottom: none;
   border-top: none;
}
.box4{
   border-top: none;
   border-bottom: none;
}
.box2{
   border-left: none;
   border-right: none;
}
.box8{
   border-right: none;
   border-left: none;
}
.resett,button{
   background-color: greenyellow;
   color: black;
   width: 150px;
   height: 70px;
   border-radius: 20px;
   font-size: 30px;
   font-weight: bolder;
}
.p{
   width: 150px;
   height: 70px;
   background-color: white;
   justify-content: center;
   display: flex;
   align-items: center;
   border-radius: 20px;
}
.btn{
   width: 100%;
   height: 12vh;
   background-color: antiquewhite;
    display: flex;
    justify-content: center;
}